#bloc_page
{
    width: 375px;
    margin: auto;
}

#logo img
{
    width: 35%;
    margin-left: 3%;
}

#inscription        /* trouver comment le mettre plus en bold */
{
    font-family: Raleway;
    font-weight: bold;
    font-size: 1em; 
    color: #0065FC;
    margin-right: 3%;
}

#en_tete
{
    display: flex;
    align-items:center;
}

nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.1em;
}

nav a
{
    color: #0065FC;
    text-decoration: none;
}

nav a:hover
{
    border-bottom: 2px solid #0065FC   
}