#bloc_page
{
    width: 375px;
    margin: auto;
}

#logo img
{
    width: 35%;
    margin-left: 3%;
}

#inscription        /* trouver comment le mettre plus en bold */
{
    font-family: Raleway;
    font-weight: 700;
    font-size: 1em; 
    color: #0065FC;
    margin-right: 8%;
}

#en_tete
{
    display: flex;
    align-items:center;
}

nav
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.1em;
}

nav a
{
    color: black;
    text-decoration: none;
}

nav a:hover
{
    width: 200px;
    text-align: center;
    padding-bottom: 15px;
    color: #0065FC;
    border-bottom: 3px solid #0065FC   
}

h1
{
    width: 330px;
    margin-left: 5px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.em;
    text-align: justify;
}